body {
	padding: 20px;
	text-align: center;
	background: whitesmoke;
	font-family: 'Open Sans', sans-serif;
}

button {
	display: inline-block;
	padding: 15px 50px;
	max-width: 100%;

	font-size: 18px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;

	color: #fff;
	background-color: royalblue;
	border: 2px solid royalblue;
	border-radius: 10px;

	transition: color .4s, background-color .4s;

	cursor: pointer;
	outline: 0 !important;
	text-decoration: none;
	touch-action: manipulation;
	user-select: none;

	&:hover,
	&:active {
		color: royalblue;
		background-color: #fff;
	}
}

.fahr {
	margin-top: 30px;
}

p {
	font-size: 250%;
	color: royalblue;
	font-weight: bold;
}

img {
	height: 40vh;
   // z-index: -1;
    margin: auto;
}

.hot {
	color: red;
}

.cold {
	color: royalblue;
}